<div id="modal" class="point">
    <div class="content">
        <!-- iCon by oNlineWebFonts.Com --> <img src="data:image/svg+xml;base64,CjxpbWcgc3R5bGU9IndpZHRoOiAxMDAlOyBoZWlnaHQ6IGF1dG87IGZsb2F0OiBsZWZ0O2JhY2tncm91bmQtaW1hZ2U6IG5vbmU7IiBzcmM9Ii8vY2RuLm9ubGluZXdlYmZvbnRzLmNvbS9zdmcvaW1nXzg2MTUyLnBuZyIgYWx0PSJFcnJhciI+CiAg" width="64" height="64" alt="Cadastro concluído">
        <h1>Erro no Cadastro</h1>
    </div>
</div>

<script>
    setTimeout(() => {
        window.location = ""
    }, 2000) 
</script>